* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: aliceblue;
}

.container {
    padding: 24px;
    padding-left: 48px;
    padding-right: 48px;
}

.card {
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}

.display {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}

.display div {
    width: 200px;
    height: 200px;

    border: 1px solid black;
    border-radius: 8px;

    font-size: xx-large;
    font-weight: bold;

    text-align: center;
}

.options {
    display: flex;
    justify-content: space-evenly;
}

.options button {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: bold;
}

.active {
    background-color: greenyellow;
}

